<template>
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ $t('converter.title') }}</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div v-if="errors.exception" class="alert alert-danger">
                                {{ errors.exception }}
                            </div>
                            <div v-for="(error, i) in errors.file"
                                 :key="`file__error__${i}`"
                                 class="alert alert-danger"
                            >
                                {{ error }}
                            </div>
                            <b-form-file
                                v-model="models.file"
                                :placeholder="$t('converter.form.input_file.placeholder')"
                            ></b-form-file>
                            <div class="text-muted mt-3">{{ $t('converter.form.input_file.tip', { formats: formats.join(', ') }) }}</div>
                        </div>
                        <div v-if="models.dataItems.length" class="form-group">
                            <hr>
                            <strong>{{ $t('converter.form.uploaded_items.label') }}</strong>
                            <div class="text-muted mb-2">{{ $t('converter.form.uploaded_items.tip') }}</div>
                            <div v-for="(item, index) in models.dataItems" class="row mb-1" :key="`item__${index}`">
                                <div class="col-5">
                                    <input
                                        :key="`country__${index}`"
                                        type="text"
                                        v-model="item.country"
                                        class="form-control"
                                    >
                                    <div v-for="(error, i) in errors[`items.${index}.country`]"
                                         :key="`items_country__${i}`"
                                         class="text-danger error"
                                    >
                                        {{ error }}
                                    </div>
                                    <strong>{{ $t('converter.form.uploaded_items.country') }}</strong>
                                </div>
                                <div class="col-5">
                                    <input
                                        :key="`capital__${index}`"
                                        type="text"
                                        v-model="item.capital"
                                        class="form-control"
                                    >
                                    <div v-for="(error, i) in errors[`items.${index}.capital`]"
                                         :key="`items_capital__${i}`"
                                         class="text-danger error"
                                    >
                                        {{ error }}
                                    </div>
                                    <strong>{{ $t('converter.form.uploaded_items.capital') }}</strong>
                                </div>
                                <div class="col-2">
                                    <button @click.prevent="deleteItem(index)" type="button" class="btn btn-danger" :disabled="models.dataItems.length === 1">
                                        {{ $t('converter.form.uploaded_items.delete') }}
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <button
                                    type="button"
                                    class="btn btn-primary mt-2"
                                    @click.prevent="addItem"
                                >
                                    {{ $t('converter.form.uploaded_items.add') }}
                                </button>
                            </div>
                            <div class="form-group">
                                <div v-for="(error, i) in errors.format"
                                     :key="`new_format__error__${i}`"
                                     class="alert alert-danger"
                                >
                                    {{ error }}
                                </div>
                                <strong>{{ $t('converter.form.new_format.label') }}</strong>
                                <b-form-select v-model="models.newFormat" :options="formats"></b-form-select>
                            </div>
                            <button
                                type="button"
                                class="btn btn-success"
                                @click.prevent="convert"
                            >
                                {{ $t('converter.form.convert') }}
                            </button>
                            <div v-if="convertedFileUrl" class="form-group mt-4 text-center">
                                <div class="alert alert-success">
                                    {{ $t('converter.messages.success') }}
                                </div>
                                <a download :href="convertedFileUrl">
                                    {{ $t('converter.form.download_converted_file') }}
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            formats: {
                type: Array,
                default: null,
            },
        },

        data() {
            return {
                models: {
                    file: null,
                    dataItems: [],
                    newFormat: null,
                },
                convertedFileUrl: null,
                errors: {},
            };
        },

        watch: {
            'models.file': {
                handler() {
                    this.clearData();
                    this.getFileData();
                },
            },
        },

        methods: {
            clearData() {
                this.models.dataItems = [];
                this.models.newFormat = null;
                this.convertedFileUrl = null;
            },

            getFileData() {
                this.errors = {};
                this.formData = new FormData();
                this.formData.set('file', this.models.file);

                axios.post(
                    this.route('converter.parse-file'),
                    this.formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                        },
                    },
                ).then(({ data }) => {
                    this.models.dataItems = data;
                }).catch(({ response: { data: { errors } } }) => {
                    this.errors = errors;
                });
            },

            addItem() {
                this.models.dataItems.push({ country: '', capital: '' });
            },

            deleteItem(index) {
                this.models.dataItems.splice(index, 1);
            },

            convert() {
                this.errors = {};
                this.convertedFileUrl = null;

                axios.post(
                    this.route('converter.download-new-format'),
                    {
                        format: this.models.newFormat,
                        items: this.models.dataItems,
                    },
                ).then(({ data }) => {
                    this.convertedFileUrl = data.filePath;
                }).catch(({ response: { data: { errors } } }) => {
                    this.errors = errors;
                });
            },
        },
    }
</script>
